
*{
    padding: 0;
    /* margin: 0; */
    box-sizing: border-box;
}

.app-container {
    padding: 2% 0;
}


/***************** SCREEN STYLE *****************/
.screen-style {
    background: #1e1e1e;
    position: relative;
    overflow: hidden;
}
